body
{
	padding : 0;
	margin : 0;
	background : url('test.jpg');
	background-size : cover;
	font-family : Georgia;
}

.header ul
{
	padding : 0;
	margin : 0;
	text-align : center;
}

.header
{
	background-color : #0f254c;
	margin : 0;
	color : white;
}
.header ul:after
{
	content : '';
	display : block;
	clear : both;
}

.header > ul > li
{
	float : right;
	list-style-type : none;
	color : white;
}

.header > ul > li > a
{
	display : inline-block;
	padding : 15px 25px;
	cursor : pointer;
}

.header > ul > li > a:hover
{
	background-color : #213b68;
	border-top : 3px solid #6598ed;
	padding : 12px 25px 15px 25px;
	animation : headerButtonClignote 1s alternate infinite;
}


nav
{
	color : white;
	display : inline-block;
	float : left;
	margin : 0;
	padding : 0;
	margin-right : 1px;
	box-shadow : 0px 1px 2px 1px black;
}

nav ul
{
	padding : 0;
	margin : 0;
	list-style-type : none;
	text-align : center;
}



nav ul li a
{
	background-color : #0f254c;
	margin : 0;
	padding : 20px 30px;
	display : block;
	border-bottom :  1px solid #6598ed;
	cursor : pointer;
}

nav ul li a:hover
{
	background-color : #213b68;
	animation : headerButtonClignote 1s alternate infinite;
}

.subNav
{
	float : none;
	color : white;
	display : block;
	margin : 0;
}

.subNav ul
{
	display : flex;
	background-color : #0e6fd1;
}


.subNav ul li a
{
	padding : 10px 15px;
	background-color : #0e6fd1;
	border-bottom : none;
}

.subNav ul li a:hover
{
	background-color : #3582ce;
	border-bottom : 2px solid #85b4e2;
	padding : 10px 15px 8px 15px;
	
	animation : subNavClignote 1s infinite alternate;
}

.subNav ul li:first-child
{
	border-top : none;
}



nav ul li:first-child
{
	border-top : 1px solid #6598ed;
	border-bottom : none;
}

article
{
	margin : auto;
	margin-top : 10px;
	text-align : center;
}

article h1
{
	font-size : 2em;
	margin : 0;
	margin-bottom : 10px;
}

article div
{
	display : inline-block;
	width : 75%;
	height : 500px;
	background-color : rgba(0,90,250,0.5);
	border-radius : 20px;
}

.defaultText
{
	background-color : rgba(0,90,250,0.5);
	border-radius : 20px;
	padding : 3px 10px;
}

@keyframes headerButtonClignote
{
	0%
	{
		background-color : #213b68;
	}
	100%
	{
		background-color : #395789;
	}
}

@keyframes subNavClignote
{
	0%
	{
		background-color : #0e6fd1;
	}
	100%
	{
		background-color : #5191d1;
	}
}
